$navbar-default-bg: rgba(255, 255, 255, 0.9);
$navbar-default-link-color: #252525;
$navbar-default-link-hover-color: #4da5f4;
$navbar-default-link-active-color: #4da5f4;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-color: #fafafa;
$navbar-default-brand-hover-color: #4da5f4;

$primary-font-color: #888480;
$lighter-font-color: #a8a4a0;
$light-color: #c8c4c0;

$brand-primary: #4d90fc;
$brand-success: #60bf60;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #5bc0dd;

html {
  position: relative;
  min-height: 100%;
}

body {
  color: $primary-font-color;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 0 !important;
  height: 100vh;
  width: 100vw;
}

.fa {
  margin-right: 6px;
}

#itinerary-map {
  height: 100vh;
  width: 100%;
}

div.gmnoprint { margin-top: -30px; }

.current-location {
  display: inline-block;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;

  .weather {
    margin-left: 30px;
  }
  
  .last-updated {
    margin-left: 30px;
    font-size: 11px;
    text-align: center;
  }
}

.timeline-scroll {
    margin: 0 20px 10px;
}